In [2]:
import pandas as pd
import numpy as np

reading the data

In [3]:
df = pd.read_csv("C:\\Users\\ASUS\\Downloads\\data sets\\ensemble\\ionosphere.csv",header = None)

In [4]:
df

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.90441,-0.04622,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,g
347,1,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.94590,0.01606,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,g
348,1,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.95584,0.02446,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,g
349,1,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.85746,0.00110,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,g
350,1,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.88928,-0.09139,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,g

checking nan values

In [5]:
df.isna().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
dtype: int64

checking no of zeros present in all the columns

In [6]:
def zero(df):
    return df[df==0].value_counts()

In [7]:
for i in df.columns:
    print(zero(df[i]))

0    38
Name: 0, dtype: int64
0    351
Name: 1, dtype: int64
0.0    25
Name: 2, dtype: int64
0.0    30
Name: 3, dtype: int64
0.0    38
Name: 4, dtype: int64
0.0    46
Name: 5, dtype: int64
0.0    37
Name: 6, dtype: int64
0.0    39
Name: 7, dtype: int64
0.0    32
Name: 8, dtype: int64
0.0    39
Name: 9, dtype: int64
0.0    28
Name: 10, dtype: int64
0.0    37
Name: 11, dtype: int64
0.0    31
Name: 12, dtype: int64
0.0    37
Name: 13, dtype: int64
0.0    39
Name: 14, dtype: int64
0.0    45
Name: 15, dtype: int64
0.0    25
Name: 16, dtype: int64
0.0    30
Name: 17, dtype: int64
0.0    24
Name: 18, dtype: int64
0.0    34
Name: 19, dtype: int64
0.0    36
Name: 20, dtype: int64
0.0    37
Name: 21, dtype: int64
0.0    27
Name: 22, dtype: int64
0.0    32
Name: 23, dtype: int64
0.0    24
Name: 24, dtype: int64
0.0    27
Name: 25, dtype: int64
Series([], Name: 26, dtype: int64)
0.0    4
Name: 27, dtype: int64
0.0    30
Name: 28, dtype: int64
0.0    33
Name: 29, dtype: int64
0.0    31
Name: 30, dtype: int64
0.0    36
Name: 31, dtype: int64
0.0    48
Name: 32, dtype: int64
0.0    51
Name: 33, dtype: int64
Series([], Name: 34, dtype: int64)

Without removing the zero's

replacing zeros with the mean value of the individual column

In [8]:
def fillzero(df):
    m= df.mean()
    df.replace(0,m, inplace = True)

In [9]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34],
           dtype='int64')

In [10]:
clist = [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33]

In [11]:
for i in clist:
    fillzero(df[i])

agian checking no of zeros

In [12]:
for i in clist:
    print(zero(df[i]))

Series([], Name: 0, dtype: int64)
0    351
Name: 1, dtype: int64
Series([], Name: 2, dtype: int64)
Series([], Name: 3, dtype: int64)
Series([], Name: 4, dtype: int64)
Series([], Name: 5, dtype: int64)
Series([], Name: 6, dtype: int64)
Series([], Name: 7, dtype: int64)
Series([], Name: 8, dtype: int64)
Series([], Name: 9, dtype: int64)
Series([], Name: 10, dtype: int64)
Series([], Name: 11, dtype: int64)
Series([], Name: 12, dtype: int64)
Series([], Name: 13, dtype: int64)
Series([], Name: 14, dtype: int64)
Series([], Name: 15, dtype: int64)
Series([], Name: 16, dtype: int64)
Series([], Name: 17, dtype: int64)
Series([], Name: 18, dtype: int64)
Series([], Name: 19, dtype: int64)
Series([], Name: 20, dtype: int64)
Series([], Name: 21, dtype: int64)
Series([], Name: 22, dtype: int64)
Series([], Name: 23, dtype: int64)
Series([], Name: 24, dtype: int64)
Series([], Name: 25, dtype: int64)
Series([], Name: 26, dtype: int64)
Series([], Name: 27, dtype: int64)
Series([], Name: 28, dtype: int64)
Series([], Name: 29, dtype: int64)
Series([], Name: 30, dtype: int64)
Series([], Name: 31, dtype: int64)
Series([], Name: 32, dtype: int64)
Series([], Name: 33, dtype: int64)

function are made to trim or cap the outliers

In [13]:
def outiqr(df):
    q1 = dd[col].quantile(0.25)
    q3 = dd[col].quantile(0.75)
    iqr = q3 - q1
    low = q1 - (1.5*iqr)
    upp = q1 + (1.5*iqr)
    m= df.mean()
    df= df.apply(lambda x : m if df<=low else m if df>=upp else x)

In [14]:
def outmsd(df):
    m = df.mean()
    sd = df.std()
    low = m - (3*sd)
    hi = m + (3*sd)
    df = df.apply(lambda x : m if x <=low else m if x>=hi else x)

checking the skewness of the columns

In [15]:
for i in clist:
    print(df[i].skew())

-2.532391692773487
0
-2.3790142504477525
-0.25443655410078186
-2.3128719123647365
-0.38124559855391793
-1.8541210143790512
-0.29588134468852273
-1.4651430097250302
-0.15027711043377626
-1.306528482295738
-0.1795063058030881
-1.0816370293962776
-0.28031019203404317
-0.980493430463674
-0.15827779118939486
-0.9761300435703805
0.006960689947668326
-0.9708928138354601
0.07314047652496974
-0.85781178232286
0.06171655341503855
-0.9032599370335804
0.07517112884619737
-1.049594526564302
0.08559309087735358
-1.287052977226443
0.07105011242543442
-1.089096318888403
0.0466443972392758
-1.0027645104874539
0.07163614226213491
-0.916284477710858
0.09912174927226701

calling the function on the basis of the skewness

In [16]:
for i in clist:
    if df[i].skew()<0.5:
        outmsd(df[i])
    else:
        df[i]=outiqr(df[i])

In [17]:
for i in clist:
    print(df[i].skew())

-2.532391692773487
0
-2.3790142504477525
-0.25443655410078186
-2.3128719123647365
-0.38124559855391793
-1.8541210143790512
-0.29588134468852273
-1.4651430097250302
-0.15027711043377626
-1.306528482295738
-0.1795063058030881
-1.0816370293962776
-0.28031019203404317
-0.980493430463674
-0.15827779118939486
-0.9761300435703805
0.006960689947668326
-0.9708928138354601
0.07314047652496974
-0.85781178232286
0.06171655341503855
-0.9032599370335804
0.07517112884619737
-1.049594526564302
0.08559309087735358
-1.287052977226443
0.07105011242543442
-1.089096318888403
0.0466443972392758
-1.0027645104874539
0.07163614226213491
-0.916284477710858
0.09912174927226701

applying label encoder to encode the dependent column

In [23]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()

In [25]:
le.fit(df[34])

LabelEncoder()

In [26]:
a = pd.DataFrame(le.transform(df[34]), columns = ["Target"])

In [27]:
a

     Target
0         1
1         0
2         1
3         0
4         1
..      ...
346       1
347       1
348       1
349       1
350       1

[351 rows x 1 columns]

In [28]:
df = df.drop(34, axis = 1)

In [29]:
dff = pd.concat([df,a], axis = 1)

In [30]:
dff

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,Target
0,1.0,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.000000,0.037600,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,1
1,1.0,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.000000,-0.045490,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,0
2,1.0,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.889650,0.011980,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,1
3,1.0,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.511848,0.181345,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,0
4,1.0,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.771520,-0.163990,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,1.0,0,0.83508,0.08298,0.73739,-0.14706,0.84349,-0.05567,0.904410,-0.046220,...,-0.04202,0.83479,0.00123,1.00000,0.12815,0.86660,-0.10714,0.90546,-0.04307,1
347,1.0,0,0.95113,0.00419,0.95183,-0.02723,0.93438,-0.01920,0.945900,0.016060,...,0.01361,0.93522,0.04925,0.93159,0.08168,0.94066,-0.00035,0.91483,0.04712,1
348,1.0,0,0.94701,-0.00034,0.93207,-0.03227,0.95177,-0.03431,0.955840,0.024460,...,0.03193,0.92489,0.02542,0.92120,0.02242,0.92459,0.00442,0.92697,-0.00577,1
349,1.0,0,0.90608,-0.01657,0.98122,-0.01989,0.95691,-0.03646,0.857460,0.001100,...,-0.02099,0.89147,-0.07760,0.82983,-0.17238,0.96022,-0.03757,0.87403,-0.16243,1
350,1.0,0,0.84710,0.13533,0.73638,-0.06151,0.87873,0.08260,0.889280,-0.091390,...,-0.15114,0.81147,-0.04822,0.78207,-0.00703,0.75747,-0.06678,0.85764,-0.06151,1

here spliting the data into dependent and independent

In [31]:
X = dff.drop("Target", axis = 1)

In [32]:
y = dff["Target"]

to get good score applying cross validation

In [33]:
from sklearn.model_selection import KFold,cross_val_score

In [34]:
kf = KFold(n_splits = 7)

In [ ]:
here importing differents -2 algorithms to get

In [35]:
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier,BaggingClassifier,GradientBoostingClassifier,RandomForestClassifier

In [36]:
sv = SVC()

In [37]:
kn = KNeighborsClassifier()

In [38]:
nb = GaussianNB()

In [39]:
dct = DecisionTreeClassifier()

In [40]:
abc = AdaBoostClassifier()

In [41]:
bc = BaggingClassifier()

In [42]:
gbc = GradientBoostingClassifier()

In [43]:
rfc = RandomForestClassifier()

In [44]:
alg = [sv,kn,nb,dct,abc,bc,gbc,rfc]
for i in alg: 
    sc = cross_val_score(i,X,y,cv = kf).mean()
    print(f"{i} and score is {sc}")
    print()

SVC() and score is 0.9001680672268909

KNeighborsClassifier() and score is 0.7694117647058825

GaussianNB() and score is 0.8117647058823528

DecisionTreeClassifier() and score is 0.8605042016806724

AdaBoostClassifier() and score is 0.8974229691876753

BaggingClassifier() and score is 0.897422969187675

GradientBoostingClassifier() and score is 0.9145098039215688

RandomForestClassifier() and score is 0.9201680672268908